# Folders
node_modules

# Environment variables
.env

# Config files
.eslintrc.json
.eslintignore

# .rest file for testing api
get_weather.rest
get_server.rest
get_onecall.rest
get_tonechanger.rest

# misc
playground.js